/*	Cores
    #00637F - Azul Escuro rows
	#0494BF - Hover de links
*/
 @import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4 {
    text-align: center;
}
h1 {
    font-size: 32px;
    line-height: 55px;
}
h2 {
    font-size: 22px;
}
hr {
    width: 150px;
}
article {
    position: absolute;
    text-shadow: 0px 0px 5px black;
}
.clear {
    clear: both;
}
/*Head*/
#logotipo {
	position: absolute;
    margin-top: -13px;
    margin-left: 10px;
}
header {
    width: 100%;
}
nav {
	background: #FFF;
	border-bottom:4px solid #00637F;
}
nav ul {
    list-style:none;
    margin-left: 164px;
    margin-top: 20px;
    margin-bottom: 9px;
    line-height: 2;
    word-spacing: 11px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    font-size: 30px;
    color: #00637F;
    text-decoration: none;
}
nav ul li a:hover {
    color:#0494BF;
    border-color: #0494BF;
    border-bottom: 3px;
}
nav ul li a:visited {

}
#banner {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: -3px;
}
.introducao {
    position: absolute;
    top: 216px;
    left: 130px;
    font-size: 44px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    line-height: 2;
}
.introducao a {
    text-decoration: none;

}
.introducao a:visited {
    text-decoration: none;
    color: white;
}
.introducao a:hover {
    text-decoration: underline;
    color: #00637F;
}
#destaque {
    width: 100%;
}
.destaque {
    width: 100%;
}
#sobre {
    background-color: #00637F;
    color: #fff;
    height: 340px;
}
/*Descricao*/
.sobre-descricao {
    text-align: left;
}
#foto-sobre {
    height: 220px;
    width: 220px;
    float: left;
    border-radius: 50%;
}
/*Icones https://perfecticons.com/ */

@font-face {
    font-family: 'si';
    src: url('../img/socicon/socicon.eot');
    src: url('../img/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon/socicon.woff') format('woff'),
         url('../img/socicon/socicon.ttf') format('truetype'),
         url('../img/socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../img/socicon/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:10px;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 58px;
    height: 58px;
    line-height: 58px;
    font-size: 31px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #38b3e8;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin:before {
    content:'\e049';
}
.soc-behance:before {
    content:'\e027';
}
.soc-github:before {
    content:'\e030';
}
/*Servicos*/
#servicos {
    background-color: #00637F;
    color: #fff;
    height: 340px;
}
/* Portifolio */
.portifolio {
    height: 500px;
    
}
/*Portifolio flexbox */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
/*.wrap li {
  background: gold;
}
*/
.flex-item {
  padding: 5px;
  width: 430px;
  height: auto;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.btn {
    display: block;
    width: 75px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #e8e7e7;
    border: 1px solid #8f8f90;
    text-align: center;
    color: #11a8cc;
    
}
.btn a {
    text-decoration: none;
}
.btn a:visited {
    text-decoration: none;
    color: #0494BF
}
.btn a:hover {
    color: #00637F
}
/* Footer */
#rodape {
    background-color: #00637F;
    color: #fff;
    text-align: center;
    padding: 10px;
}