/*General Config
#00637F - Azul Escuro rows
#0494BF - Hover de links
*/
 @import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
p{
    font-family: Georgia, Times New Roman, serif;
    font-size: 14px;
    line-height: 22px;
}
h2 {
    font-size: 32px;
    line-height: 55px;
    text-align: center;
}
h3{
    font-size: 22px;
    line-height: 18px;
    text-align: center;
}
h4{
    font-size: 18px;
    line-height: 14px;
}
.btn{
    border: 3px solid #fff;
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height:20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.btn:hover{
    color:#0494BF;
    border-color:#00637F;
}
/*header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 15px 0;
    z-index: 10;
}
.header_menu {
    text-align: right;
}
.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top:20px;
}
.header_menu ul li a{
    color:#000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}
.header_menu ul li a:hover{
    color:#0494BF;
}    
/*Intro*/

.intro {
    width: 100%;
    height: 400px;
    background: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 114px;
    text-align: center;
}
.intro h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}
.intro h2 {
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.intro h2:before{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin:10px auto 10px auto;
}
/*About*/
#sobre{
    width: 100%;
    background: #00637F;
    padding-top: 40px;
    padding-bottom: 40px;
}
.photo{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.sobre {
    text-align: center;
}
/*Portifolio*/

/*Services*/
#servicos{
    background: #00637F;
}
/*Contact*/

/*Footer*/
#footer{
    background: #00637F;
}
