/*	Cores
    #00637F - Azul Escuro rows
	#0494BF - Hover de links
*/
 @import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    font-family: 'Roboto', Arial, sans-serif;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4 {
    text-align: center;
}
h1 {
    font-size: 32px;
    line-height: 55px;
}
h2 {
    font-size: 22px;
}
hr {
    width: 150px;
}
article {
    position: absolute;
    text-shadow: 0px 0px 5px black;
}
.clear {
    clear: both;
}
/*Head*/
#logotipo {
	position: absolute;
    margin-top: -13px;
    margin-left: 10px;
}
header {
    width: 100%;
}
nav {
    border-bottom:4px solid #00637F;
}
nav ul {
    list-style:none;
    margin-left: 164px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 9px;
    line-height: 2;
    word-spacing: 11px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    font-size: 30px;
    color: #00637F;
    text-decoration: none;
}
nav ul li a:hover {
    color:#00637F;
}
nav ul li a:visited {
    color: #0494BF; 
}
/* Introduction */
#banner {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: -3px;
}
.introducao {
    position: absolute;
    top: 216px;
    left: 130px;
    font-size: 44px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    line-height: 2;
}
.get-in-touch {
    display: block;
    border: 4px #FFF;
    border-radius: 12px;
}
.get-in-touch a {
    text-decoration: none;

}
.get-in-touch a:visited {
    text-decoration: none;
    color: white;
}
.get-in-touch a:hover {
    text-decoration: underline;
    color: #00637F;
}
#destaque {
    width: 100%;
}
.destaque {
    width: 100%;
}
#sobre {
    background-color: #00637F;
    color: #fff;
    height: 340px;
}
/*Descricao*/
.sobre-descricao {
    text-align: left;
    line-height: 22px;
}
#foto-sobre {
    height: 220px;
    width: 220px;
    float: left;
    border-radius: 50%;
}
/*Icones https://perfecticons.com/ */

@font-face {
    font-family: 'si';
    src: url('../img/socicon/socicon.eot');
    src: url('../img/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon/socicon.woff') format('woff'),
         url('../img/socicon/socicon.ttf') format('truetype'),
         url('../img/socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../img/socicon/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:10px;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 58px;
    height: 58px;
    line-height: 58px;
    font-size: 31px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #38b3e8;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin:before {
    content:'\e049';
}
.soc-behance:before {
    content:'\e027';
}
.soc-github:before {
    content:'\e030';
}
/*Servicos*/
#servicos {
    background-color: #00637F;
    color: #fff;
    padding: 20px;
    align-items: center;
    padding-bottom: 20px;
}
#servicos div {
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.container {
    display: flex;
    flex-direction: row;
}

/* Portifolio */
.portifolio {
    height: 500px;
    
}
/*Portifolio flexbox */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.flex-item {
  padding: 5px;
  width: 430px;
  height: auto;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.btn {
    display: block;
    width: 75px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 2px solid #0494BF;
    text-align: center;
    color: #00637F;
    transition: all linear 0.5s;
    -webkit-transition:all linear 0.5s;
    
}
.btn a {
    text-decoration: none;

}
.btn:hover {
    background-color: #0494BF;
    color: #fff;
}
/* Efeito hover no portifolio */
figure.foto-legenda {
    position: relative;
}
figure.foto-legenda img{
    width: 100%;
    height: 90%;
}
figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 90%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}
/* -- Fim do efeito portifolio */
/* Contato */
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
ul li {
    margin: 10px;
}
ul li a {
    text-decoration: none;
}
/* Form */

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
}
form div + div {
    margin-top: 1em;
}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input {
    border-radius: 6px;
}
input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #00637F;
}
input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}
textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}
.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
}


/* Footer */
#rodape {
    background-color: #00637F;
    color: #fff;
    text-align: center;
    padding: 10px;
}